	/*
		WA160 Team Project 1
		Author: Lani Hurley
		Date: 8/19/2021
		CSS Styles for Contact Us page Communicate form
		A Lightworkers Haven
		
		Filename: alh_forms.css
	*/

/* Form Layout Styles */
form#contactForm {
	clear: both;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap ;
	flex-flow: row wrap;
	height: 300px;
	overflow: auto;
	width: 40%;
}

form#contactForm:focus-within {
	transform: scale(1.1, 1.1);
}

form#contactForm > fieldset {
	box-shadow: rgb(51, 51, 51) 15px 0px 25px,
               rgb(51, 51, 51) -15px 0px 25px;
	border-radius: 20px;
	background: radial-gradient(ivory, rgb(232, 182, 132), 
									   rgb(108, 80, 119),
                                       rgb(71, 52, 29));
	color: rgb(71, 52, 29);
	-webkit-flex: 1 1 300px;
	flex: 1 1 300px;
	font-size: 0.8em;
	padding: 10px;
	margin: 10px;

}

/* Legend Styles */
legend {
	background-color: dimgray;
	color: white;
	padding: 5px;
}

label {
	color: white;
}

input {
	height: 75%;
	width: 75%;
	box-sizing: border-box;
	vertical-align: right;
}

input:focus-within {
	transform: scale(1.1, 1.1);
}
/*Form Button Styles */
div#buttons {
	text-align: center;
	width: 100%;
}

